.update-container1
{
    text-align: center;
    height: 800px;
    background-color: azure;

}

/* .form-control
{
    width: 200px;
    text-align: center;
} */

.p-2
{
    position: relative;
    top: 40px;
    left: 200px;
    width: 1000px;
}


.f1{
    position: relative;
    top: -120px;
    left: 400px;
    background-color: #c6d1d1;
    /* border: "1px solid #ddd";
    border-Radius: 10px; */
}
.b2{
    position: relative;
    top: -75px;
    left: 400px;
    background-color: #c6d1d1;
}
.b3{
    position: relative;
    top: -30px;
    left: 400px;
    background-color: #c6d1d1;
}
/* input.form-control3
{
    position: relative;
    top: 190px;
    left: -8px;
    background-color: #c6d1d1;
    width: 220px;
} */

textarea.n7
{
    position: relative;
    top: 30px;
    left: -10px;
}
.mb-4{
    position: relative;
    top: 150px;
    left: -20px;
}
.k4{
    
        position: relative;
        top: 180px;
        left: 30px;
    
}

.n10
{
    position: relative;
    top: 200px;
}